{% extends 'base.html' %}
{% load static %}
{% block title %}NGO Registration{% endblock title %}
{% block content %}
<div class="d-flex p-0"> 
  <div class="p-2 w-50 mr-6 ml-6">
    <form method="POST" action="{% url 'NGO_Registration' %}" enctype="multipart/form-data">
      {% csrf_token %}
      {% if messages %}
        {% for message in messages %}
          <p {% if message.tags %} class ="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
        {% endfor %}
      {% endif %}
      <div class="h5 text-primary">
        Enter the details to register your NGO
      </div>
      {% for fm in form%}
        <div>
          <div class="text-dark">
            {{fm.label_tag}}<br> {{fm}}
          </div> 
          <small class="text-danger">{{fm.errors|striptags}}</small><br>
        </div>
      {% endfor %}
      <!-- {{form}} -->
      <!-- <button>submit</button> -->
      <div class="">
        <input type="submit" class="btn btn-primary mb-3" value="SUBMIT">
      </div>
    </form>
  </div>
</div>
{% endblock content %}
