{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block content %}
<div class="d-flex p-3">
  <div class="p-2 w-50 mr-4">
   <form  action="" method="post">
    {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
      <p {% if message.tags %} class ="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
    {% endfor %}
    {% endif %}
    <div class="h5 text-primary">
      Enter the details to add a new profile
    </div>
    {% for fm in form%}
      <div>
        <div class="text-dark">
          {{fm.label_tag}} {{fm}}
        </div> 
        <small class="text-danger">{{fm.errors|striptags}}</small><br>
      </div>
    {% endfor %}
      <div class="">
        <button type="submit" class="btn btn-primary mb-3">Add New Profile</button>
      </div>
   </form>
  </div>
  <div class="d-flex flex-column p-2 w-50 ml-4 text-light">
    <!-- {% lorem 5 p %} -->
  <!--Add here-  -->
  <div class="col-sm-9 offset-sm-1">
    <div class="row">
     {% for prf in proff  %}
     <div class="col-sm-6">
      <div class="card">
       <div class="card-body">
        <h3>Profile {{forloop.counter}}</h3>
        <p class="text-light">Phone: {{prf.phone}}</p>
        <p>Address:{{prf.address}}</p>
        <p>Country:{{prf.country}}</p>
        <p>Account Number:{{prf.ac_number}}</p> 
        <p>IFSC Code:{{prf.ifsc_code}}</p> 
       </div>
      </div>
     </div>
     {% endfor %}
    </div>
   </div>
  </div>
</div>
{% endblock content %}