{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block content %}


<div>
  <div>
   <form action="" method="post">
    {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
      <p {% if message.tags %} class ="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% for fm in form%}
      <div>
        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
      </div>
    {% endfor %}
      <div class="col-12 mt-3 ml-auto mr-auto ">
        <button type="submit" class="btn btn-primary mb-3" >Submit</button>
      </div>
   </form>
  </div>
 </div>
</div>
{% endblock content %}