<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>
      {{ title }}
    </title>
    {%else%}
    <title>
      Django App
    </title>
    {%endif%}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class = 'nav-item {% if navbar == "home" %} active {% endif %}'><a href="{% url "home" %}">NGO NAME</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class = 'nav-item {% if navbar == "portal" %} active {% endif %}'><a href="{% url "portal" %}">Payment Portal</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class = 'nav-item {% if navbar == "login" %} active {% endif %}'><a  href = "{% url "login"%}"><span class="glyphicon glyphicon-user"></span> Login</a></li>
            <li class = 'nav-item {% if navbar == "signup" %} active {% endif %}'><a href="{% url "signup"%}"><span class="glyphicon glyphicon-log-in"></span> Sign up</a></li>
          </ul>
        </div>
      </nav>
      {% block content %}{% endblock content %}
</body>
</html>